.policy-article {
  padding: 45px 0 0 0;
  margin-bottom: 0;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  a {
    color: $primary;
    text-decoration: underline;
    font-weight: 400;
  }
  ul {
    padding-left: 20px;
    li {
      position: relative;
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $blackLight;
        position: absolute;
        top: 10px;
        left: 0;
      }
      a {
        font-weight: 400;
      }
    }
  }
}
